body{
    margin: 0;
    font-family: Arial, sans-serif;
    color: black;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: #0f1117;
    padding: 20px 50px;
    color: white;
    align-items: center;
    margin-bottom: 30px;

}
.logo{
    font-size: 20px;
    font-weight: bold;
}
.logo a{
    text-decoration: none;
    color: white;
}
.nav-links a{
text-decoration: none;
color: white;
margin: 0 14px;
font-size: 16px;
}
.auth-button{
    gap: 20px;
    display: flex;
}
.auth-button button{
    padding: 14px 22px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.auth-button .Login{
    background-color:transparent;
    border:1px solid white;
    color: white;
    border-radius: 6px;
}
.Login:hover{
    background-color: #ff0055;
    color: white;
    border:1px solid white;
    border: none;
}
.auth-button .Donate{
    background-color: #ff0055;
    color: white;
    border-radius: 6px;
}
.Donate:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 6px;
}

.contact-container{
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 120px;

}
.form-group{
    margin: 15px 0;
}
label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
}
input, textarea{
width: 100%;
padding: 10px;
border-radius: 5px;
font-size: 16px;
box-sizing: border-box;
border: 2px solid #ff0055;
}
button{
    background-color: #ff0055;
    color: white;
    border-radius: 6px;
    padding: 14px 22px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: #0f1117;
border: 2px solid #ff0055;
}
.contact-container h1{
    text-align: center;
}

.footer{
    padding: 30px 20px;
    border-top: 5px solid #ff0055;
    display: flex;
}
.footer-contianer{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 50px;
}
.footer-section h3{
    color: #ff0055;
    font-size: 22px;
    text-decoration: underline;
}
.address-item{
    margin-bottom: 12px;

}
.social-links{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}
.social-link{
    display: flex;
    align-items: center;
    padding: 12px 20px;
    background:linear-gradient(to bottom right, #ff0055, #0f1117) ;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    margin-bottom: 10px;
}